#div1{
	border: 0px blue solid;
	width: 500px;
	height:40px;
	margin: 0 auto;
	border-radius: 15px 15px 15px 15px;
	margin-top: 0px;
	margin-left:1000px;
	background:linear-gradient(#D2ABA2,#80DBE1);
	opacity: 0.5;
	
}
*{
 	margin: 0px;
 	padding: 0px;
}
video {
 	position: fixed;
 	right: 0px;
 	bottom: 0px;
 	min-width: 100%;
 	min-height: 100%;
 	height: auto;
 	width: auto;
 	/*加滤镜*/
 	/*-webkit-filter: grayscale(100%);*/
 	/*filter:grayscale(100%);*/
 	z-index: -11
}
source{
 	min-width: 100%;
 	min-height: 100%;
 	height: auto;
 	width: auto;
}
#div1 ul li{
	border: 0px  red solid;
	float:left;
	margin-top: 10px;
	list-style: none;
	margin-left:50px;
}
#div1 ul li a{
	color: blue;
	text-decoration: none;
}
/* #ss{
	background: url(../img/2.png);
	margin: 0 auto;
	border: 1px red solid;
	margin-left: 500px;
	width: 200px;
	height:200px;
	background-size: 100%;
} */