*{
	margin: 0px;
	padding: 0px;
}
iframe{display:block;position:fixed;}
html,body{
	width:100%;
	height:100%;
}
#div{
	width:100%;
	height:100%;
	border: 0px red solid;
}
#div1{
	width:100%;
	height:100%;
}
.div1{
	width:100%;
	height:100%;
	background:url(../img/5.jpg);
	background-size: 100% auto;
	background-position-y:top;
	position:absolute;
	z-index:-1;
}
.div2{
	width:100%;
	height:100%;
	background: url(../img/4.jpg);
	background-size: 100% auto;
	background-position-y:bottom;
	position:absolute;
	z-index:-2;
}
.div3{
	width:100%;
	height:100%;
	background: url(../img/3.jpg);
	background-size: 100% 100%;
	background-position-y:bottom;
	position:absolute;
	z-index:-3;
}
#div3{
	width:100%;
	height:800px;
	background: url(../img/4.jpg);
	background-size: 100% 100%;
	border: 0px red solid;
	display:none;
/* 	position: absolute; */
	margin-top:0px;
}
#div4{
	width:100%;
	height:800px;
	background: url(../img/3.jpg);
	background-size: 100% 100%;
	border: 0px red solid;
	display:none;	
	/* 	position: absolute; */
	margin-top:0px;
}
.ss{
	width: 16px;
	height:16px;
	border-radius:8px;
	  /*font-size: 10px;*/
	border: 0px white solid;
	outline:none;
}
.ss:hover{
	background-color: white;
	opacity:0.5;
}
#div2 ul li{
	width:30px;
	height: 30px;
	margin-left:1450px;
	list-style: none;
	border: 1px red solid;
}
#div2 ul{
	position: fixed;
	margin-top:300px;
}
#daohang ul li{
	border: 0px red solid;
	width: 100px;
	height: 100px;
	list-style: none;
	margin-top:20px;
	background-color:rgba(119,136,153,0.6);
	border-radius: 50px 50px 50px 50px;
	text-align: center;
}
#daohang{
	border: 0px red solid;
	/* margin-top: -600px; */
	/* margin-left:70px; */
	position: fixed;
	top:200px;
	left:70px;
	z-index:100;
	color: white;
}
#daohang ul li label{
	font-size:30px;
	border: 0px red solid;
	letter-spacing: 2px;
}
.font-box{
	position:absolute;
	top:40px;
	left: 20px;
}
.font-box1{
	position:absolute;
	top:160px;
	left: 20px;
}
.font-box2{
	position:absolute;
	top:280px;
	left: 20px;
}
#daohang ul li p{
	border: 0px red solid;
	font-size:12px;
	color: black;
	letter-spacing: 1px;
}
#daohang ul li:hover{
	color: red;
}
#block{
	border: 0px red solid;
	background-color: white;
	width:540px;
	height:300px;
	position:fixed;
	top: 300px;
	left:200px;
	display:none;
}
#block1{
	border: 0px red solid;
	background-color: white;
	width:357px;
	height:300px;
	position:fixed;
	top: 300px;
	left:200px;
	display:none;
}
#block2{
	border: 0px red solid;
	background-color: white;
	width:173px;
	height:300px;
	position:fixed;
	top: 300px;
	left:200px;
	display:none;
}
#block3{
	width:580px;
	height:100px;
	position: fixed;
	left:200px;
	top:195px;
}
#block3 ul li{
	border: 0px red solid;
	background-color: white;
	width:173px;
	height:100px;
	list-style: none;
	float: left;
	margin-left: 10px;
	display: none;
}
#block3 ul li:nth-child(1){margin-left:0px;}


